<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenliang.account">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/base_ic_launcher"
        android:label="@string/a_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BASE">
        <activity android:name=".act.LoginActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".act.RegisterActivity" />
    </application>
</manifest>