<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chenliang.mvvmc">


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/base_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.BASE"
        tools:replace="icon,label,theme,name">

        <activity
            android:name=".act.SplashActivity"
            android:label="MVVM">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.MainActivity" />
        <activity android:name=".demo.DefaultDemoActivity" />
        <activity android:name=".demo.RefreshDemoActivity" />
        <activity android:name=".demo.ToolBarDemoActivity" />
        <activity android:name=".demo.RefreshRecyclerViewActivity" />
        <activity android:name=".demo.RefreshRecyclerViewMoreTypeActivity" />
        <activity android:name=".demo.FragmentNoTBRefreshDemoActivity" />
        <activity android:name=".demo.FragmentToolBarRefreshDemoActivity" />
        <activity android:name=".demo.ViewPageFragmentDemoActivity" />
        <activity android:name=".demo.AnimationActivity" />
        <activity android:name=".demo.EventCallBackActivity" />
        <activity android:name=".demo.LibraryFragmentActivity" />
    </application>

</manifest>